---
import Layout from "@layouts/Layout.astro";
---

<Layout>
  <section class="intro">
    <img
      class="animate avatar"
      src="matteo.jpg"
      alt="Portrait of Matteo Cavallo"
    />
    <h1 class="animate">
      <b>Matteo Cavallo</b> is a Software Engineer based in Paris, France.
    </h1>
  </section>
  <section>
    <p class="animate">
      <em>I design and build interfaces</em>, shaping intuitive web and mobile
      experiences since 2017. Currently, I'm a Frontend Engineer at
      <a class="contrast" href="https://qonto.com">Qonto</a>.
    </p>
    <p class="animate">
      Beyond code, you'll find me immersed in '60s music (The Beatles and Bob
      Dylan, of course), revisiting Oscar Wilde's wit, or enjoying a Sergio
      Leone classic. Sometimes, I play the piano.
    </p>
    <p class="animate">
      Lately, I've been learning chess, improving my French, and perfecting
      recipes I'll probably never write down.
    </p>
    <p class="animate">
      Originally from Rome, I earned a Computer Science degree from Politecnico
      di Milano, where I also co-hosted the podcast

      <a
        class="contrast"
        href="https://open.spotify.com/show/2kzDycMHhUhgs8WMVsmLsX?si=88d0945d095149dd"
        >Accademia dei Pugni</a
      >.
    </p>
  </section>
  <section class="animate">
    <hgroup>
      <h2>Let's Connect</h2>
      <p>
        If you want to get in touch with me about something or just to say hi,
        reach out on social media or send me an email.
      </p>
    </hgroup>
    <address>
      <a href="mailto:m.cavallo1011@gmail.com" class="secondary">
        m.cavallo1011@gmail.com
      </a>
    </address>
  </section>
</Layout>
