---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"div">;

const { class: className, ...rest } = Astro.props;
---

<div class:list={["mx-auto max-w-screen-sm px-5", className]} {...rest}>
  <slot />
</div>
