<footer class="container">
  <hr />
  <nav>
    <ul>
      <li>
        <a href="/" class="secondary"><small>Matteo Cavallo</small></a>
      </li>
    </ul>
    <ul>
      <li>
        <a href="https://github.com/matteo-cavallo" class="secondary">
          <small>GitHub</small>
        </a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/cavallomatteo" class="secondary">
          <small>LinkedIn</small>
        </a>
      </li>
    </ul>
  </nav>
</footer>
