---
import "../styles/global.css";
import Footer from "@components/Footer.astro";

type Props = {
  title?: string;
  description?: string;
};

const {
  title = "Matteo Cavallo • Software Engineer",
  description = "Matteo Cavallo is a Software Engineer based in Paris, France. Frontend Engineer at Qonto.",
} = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="color-scheme" content="light dark" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
    />
    <title>{title}</title>
    <meta name="description" content={description} />
    <script src="/src/scripts/animate.ts"></script>
  </head>
  <body>
    <main class="container">
      <slot />
    </main>
    <Footer />
  </body>
</html>
